<section class="about-box noBg">
    <h2>Chargée de communication</h2>
    <h3>Créative et motivée</h3>
    <p>Curieuse et déterminée, j’aime découvrir de nouvelles choses. Diplomée d’un DUT MMI et d’un Bachelor
        Communication Marketing & Événementiel à l’INSEEC, je poursuis mes études dans la communication et <span class="surligne">souhaite
                apporter ma créativité et mon expérience à une entreprise</span> pour l’année 2021.</p>
    <a href=""><div class="btn btn-orange">En savoir plus</div></a>
</section>