<section class="last-projects noBg">
    <h2>Mes projets à la une</h2>
    <div class="list-projects">
        <article>
            <div class="visual">
                <img src="{{ asset('images/projects/affiche_jpo.jpg') }}" alt="">
            </div>
            <p>JPO 2020</p>
            <span>Print</span>
        </article>
        <article>
            <div class="visual">
                <img src="{{ asset('images/projects/affiche_tds.jpg') }}" alt="">
            </div>
            <p>Terres du son 2020</p>
            <span>Print</span>
        </article>
        <article>
            <div class="visual">
                <img src="{{ asset('images/projects/despecup.jpg') }}" alt="">
            </div>
            <p>DespeCup 2021</p>
            <span>Communication</span>
        </article>
    </div>
    <a href=""><div class="btn btn-orange">Voir plus de projets</div></a>
</section>