<section class="soft-skills">
    <article>
        <img src="{{ asset('images/icon/quill.png') }}" alt="">
        <h4>Créativité</h4>
        <p>Force de proposition, je ne reste jamais sur mes acquis et je saurais vous apporter ce petit quelque chose
            qui vous manque</p>
    </article>
    <article>
        <img src="{{ asset('images/icon/layers.png') }}" alt="">
        <h4>Polyvalence</h4>
        <p>En constante de recherche de nouveauté, je ne refuse jamais de nouveaux challenges !</p>
    </article>
    <article>
        <img src="{{ asset('images/icon/chat.png') }}" alt="">
        <h4>Communication</h4>
        <p>Pour moi, dans la vie, tout passe par la communication, c’est la clé !</p>
    </article>
</section>