{% extends 'admin.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

    <h2>Ajouter un projet</h2>
    <div class="hr"></div>

    {% include 'admin/project/_form.html.twig' %}

{% endblock %}
