body {
  .about {
    max-width: 1000px;
    padding-top: 40px;

    .portrait {
      height: 150px;
      width: 150px;
      background: gray;
      border-radius: 100%;
      margin-bottom: 2rem;
    }

    h3 {
      margin-top: 6px;
    }

    p {
      text-align: center;
    }
  }

  .list-soft {
    h4 {
      margin: 2rem 0 0 !important;
    }

    article {
      margin: 0 4rem;
    }
  }

  .list-hard {
    background: none !important;

    img {
      width: auto !important;
      height: 50px !important;
      margin-bottom: 2rem;
    }

    article {
      max-width: 160px !important;
      margin: 0 2.5rem;
    }
  }
}