$black: #4E4E4E;
$orange: #F05A2C;

body {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    background: #F9F4EC;
    margin: 0;

    // Default settings
    section {
        padding: 80px 0;
    }
    section.noBg {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1,h2,h3,h4,h5,p {
        margin: 0;
    }
    a {
        text-decoration: none;
        color: $black;
    }
    h2 {
        font-family: 'Merienda One', sans-serif;
        font-size: 32px;
        margin-bottom: .5rem;
    }
    h3 {
        color: $orange;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .btn {
        padding: 8px 20px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .btn-orange {
        background: $orange;
        color: white;
    }
    .etiquette {
        border: 2px solid $orange;
        border-radius: 6px;
        color: $orange;
        padding: 3px 6px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 14px;
        font-weight: 600;
    }
    .extra-top {
        padding-top: 40px !important;
    }
    // --end--

    // Navigation
    header {
        width: 100%;
        height: 5.5rem;
        margin: .5rem 0;

        nav {
            font-weight: 500;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 800px;
            margin: 0 auto;

            a {
                text-decoration: none;
                color: unset;
                position: relative;
            }

            .active::after {
                content: "";
                height: 5px;
                width: 100%;
                background: $orange;
                display: block;
                position: absolute;
                bottom: 4px;
                z-index: -1;
            }

            img {
                height: 64px;
            }
        }
    }
    // --end--

    footer {
        background: rgba(237, 224, 207, 0.3);

        svg {
            transform: rotate(180deg);
        }

        .foot {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem 0 3rem;
            h3 {
                font-size: 18px;
                text-align: right;
                text-transform: uppercase;
                margin-bottom: 8px;
            }
            a {
                font-weight: 500;
            }
            .navigation {
                display: flex;
                flex-direction: column;
            }
            .logo {
                margin: 0 5rem;

                img {
                    height: 64px;
                }
            }
            .right {
                align-items: flex-start;
            }

            .left {
                align-items: flex-end;
            }
        }
    }
}
